In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path = '../data/_data.csv'
df = pd.read_csv(path)

In [3]:
pd.set_option('display.max_columns', None)
df.head()

,Unnamed: 0,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Телефоны,Описание,Ремонт,"Площадь комнат, м2",Балкон,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79166369231,Без комиссии для нанимателя! Бонус коллегам 12...,Дизайнерский,NaN,NaN,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",+79850608590,Лот 93107. Елена Анисимова.\n\nБонус агенту 50...,Дизайнерский,25 25 20 25,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...","+79672086536, +79099269384","ID 36380: Шикарная 4-х км. квартира в ЖК ""Нов...",Евроремонт,NaN,NaN,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...","+79660342340, +79099269384",ID 31618: Эксклюзивное предложение. Современн...,Евроремонт,14-42-20-19,NaN,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",+79852432860,Лот 111542. Татьяна Лучкина.\n\nБонус агенту 5...,Евроремонт,20 18,NaN,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

In [4]:
df.columns

Index(['Unnamed: 0', 'ID  объявления', 'Количество комнат', 'Тип', 'Метро',
       'Адрес', 'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Телефоны',
       'Описание', 'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод',
       'Ссылка на объявление'],
      dtype='object')

In [5]:
df.loc[:, 'Дом'].nunique()

2565

In [6]:
df.loc[:, 'Дом'].value_counts().sort_values(ascending=False).head(50)

Дом
3/5, Кирпичный      322
4/5, Кирпичный      296
2/5, Кирпичный      255
1/5, Кирпичный      232
5/5, Кирпичный      231
5/9, Панельный      202
3/9, Панельный      193
7/9, Панельный      182
6/9, Панельный      181
4/9, Панельный      178
2/9, Панельный      172
8/9, Панельный      163
9/9, Панельный      161
1/9, Панельный      137
3/5, Панельный      125
2/5, Панельный      124
5/5, Панельный      119
3/5                 119
5/9, Кирпичный      117
5/12, Панельный     114
4/5, Панельный      113
3/9, Кирпичный      110
4/9, Кирпичный      108
10/17, Панельный    104
8/17, Панельный     104
4/17, Панельный     102
2/5                 100
4/5                 100
4/12, Панельный      99
7/9, Кирпичный       98
12/17, Панельный     96
6/17, Панельный      95
7/17, Панельный      95
1/5, Панельный       94
3/12, Панельный      94
2/17, Панельный      94
2/9, Кирпичный       93
11/17, Панельный     93
7/12, Панельный      91
2/12, Панельный      88
8/12, Панельный      87
10/12, Панельный     87
9/9, Кирпичный       86
17/17, Панельный     86
3/17, Панельный      85
6/12, Панельный      83
5/17, Панельный      82
15/17, Панельный     81
9/17, Панельный      79
12/12, Панельный     77
Name: count, dtype: int64

In [7]:
df.loc[:, 'Количество комнат'].nunique()

24

In [8]:
df.loc[:, 'Количество комнат'].value_counts().sort_values(ascending=False)

Количество комнат
1                   7917
2, Изолированная    4623
2                   2591
3                   1717
3, Изолированная    1583
3, Оба варианта      875
4                    674
2, Смежная           637
2, Оба варианта      615
4, Оба варианта      253
5                    235
4, Изолированная     223
6                     87
3, Смежная            87
5, Оба варианта       81
5, Изолированная      47
6, Оба варианта       31
6, Изолированная      17
4, Смежная            13
1, Изолированная       8
1, Оба варианта        4
5, Смежная             4
6, Смежная             3
1, Смежная             2
Name: count, dtype: int64

In [9]:
df.loc[:, 'Площадь комнат, м2'].isna().sum()

np.int64(8910)

In [10]:
df.loc[:, 'Площадь комнат, м2'].nunique()

3990

In [11]:
df.loc[:, 'Балкон'].isna().sum()

np.int64(7978)

In [12]:
df.loc[:, 'Балкон'].unique()

array([nan, 'Балкон (1)', 'Балкон (3)', 'Лоджия (1)',
       'Балкон (2), Лоджия (3)', 'Балкон (1), Лоджия (1)', 'Балкон (2)',
       'Лоджия (2)', 'Балкон (3), Лоджия (3)', 'Балкон (3), Лоджия (1)',
       'Лоджия (3)', 'Балкон (1), Лоджия (2)', 'Балкон (2), Лоджия (1)',
       'Балкон (2), Лоджия (2)', 'Балкон (1), Лоджия (3)', 'Балкон (4)',
       'Лоджия (4)', 'Балкон (4), Лоджия (4)', 'Балкон (1), Лоджия (4)'],
      dtype=object)

In [13]:
df.loc[:, 'Балкон'].value_counts(dropna=False)

Балкон
NaN                       7978
Балкон (1)                7428
Лоджия (1)                6007
Балкон (1), Лоджия (1)     716
Лоджия (2)                 568
Балкон (2)                 474
Балкон (3)                  55
Лоджия (3)                  45
Балкон (2), Лоджия (2)      25
Балкон (1), Лоджия (2)      24
Балкон (2), Лоджия (1)      20
Балкон (4)                   6
Балкон (1), Лоджия (3)       5
Балкон (3), Лоджия (1)       5
Лоджия (4)                   5
Балкон (2), Лоджия (3)       3
Балкон (1), Лоджия (4)       2
Балкон (3), Лоджия (3)       1
Балкон (4), Лоджия (4)       1
Name: count, dtype: int64

In [14]:
df.loc[:, 'Санузел'].isna().sum()

np.int64(2672)

In [15]:
df.loc[:, 'Окна'].unique()

array([nan, 'На улицу и двор', 'Во двор', 'На улицу'], dtype=object)

In [16]:
df.loc[:, 'Санузел'].isna().sum()

np.int64(2672)

In [17]:
df.loc[:, 'Санузел'].unique()

array([nan, 'Совмещенный (2), Раздельный (1)', 'Совмещенный (3)',
       'Совмещенный (2)', 'Совмещенный (1), Раздельный (1)',
       'Совмещенный (1)', 'Совмещенный (2), Раздельный (2)',
       'Раздельный (2)', 'Раздельный (1)', 'Раздельный (3)',
       'Совмещенный (4)', 'Совмещенный (3), Раздельный (1)',
       'Раздельный (4)', 'Совмещенный (1), Раздельный (2)',
       'Совмещенный (2), Раздельный (4)',
       'Совмещенный (1), Раздельный (3)',
       'Совмещенный (3), Раздельный (3)',
       'Совмещенный (4), Раздельный (2)',
       'Совмещенный (2), Раздельный (3)',
       'Совмещенный (4), Раздельный (1)',
       'Совмещенный (3), Раздельный (2)'], dtype=object)

In [18]:
df.loc[:, 'Санузел'].value_counts(dropna=False)

Санузел
Совмещенный (1)                    10078
Раздельный (1)                      7158
NaN                                 2672
Совмещенный (2)                     1437
Совмещенный (1), Раздельный (1)      812
Раздельный (2)                       534
Совмещенный (3)                      241
Совмещенный (2), Раздельный (1)      188
Совмещенный (4)                       77
Раздельный (3)                        52
Совмещенный (1), Раздельный (2)       30
Совмещенный (3), Раздельный (1)       27
Совмещенный (2), Раздельный (2)       25
Раздельный (4)                        15
Совмещенный (3), Раздельный (3)        6
Совмещенный (4), Раздельный (1)        6
Совмещенный (4), Раздельный (2)        4
Совмещенный (2), Раздельный (3)        2
Совмещенный (1), Раздельный (3)        2
Совмещенный (2), Раздельный (4)        1
Совмещенный (3), Раздельный (2)        1
Name: count, dtype: int64

In [19]:
df.loc[:, 'Цена']

0        500000.0 руб./ За месяц, Залог - 500000 руб., ...
1        500000.0 руб./ За месяц, Залог - 500000 руб., ...
2        500000.0 руб./ За месяц, Залог - 500000 руб., ...
3        400000.0 руб./ За месяц, Залог - 400000 руб., ...
4        225000.0 руб./ За месяц, Залог - 225000 руб., ...
                               ...
23363    42000.0 руб./ За месяц, Залог - 42000 руб., Ко...
23364    45000.0 руб./ За месяц, Залог - 45000 руб., Ко...
23365    50000.0 руб./ За месяц, Залог - 50000 руб., Ко...
23366    55000.0 руб./ За месяц, Залог - 50000 руб., Ко...
23367    57000.0 руб./ За месяц, Залог - 60000 руб., Ко...
Name: Цена, Length: 23368, dtype: object

In [20]:
df.loc[:, 'Дополнительно'].str

In [21]:
df.loc[:, 'Дополнительно'].isna().sum()

np.int64(357)

In [22]:
df.loc[:, 'Дополнительно'].str.split(',').head(50)

0     [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
1     [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
2     [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
3     [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
4     [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
5     [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
6     [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
7     [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
8     [Мебель на кухне,  Ванна,  Стиральная машина, ...
9     [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
10    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
11    [Мебель в комнатах,  Мебель на кухне,  Душевая...
12    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
13    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
14    [Мебель в комнатах,  Мебель на кухне,  Стираль...
15                                                  NaN
16    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
17    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
18    [Мебель в комнатах,  Мебель на кухне,  Стираль...
19    [Мебель на кухне,  Ванна,  Душевая кабина,  Ст...
20    [Мебель в комнатах,  Мебель на кухне,  Душевая...
21    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
22    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
23    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
24    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
25    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
26    [Мебель в комнатах,  Мебель на кухне,  Душевая...
27    [Мебель в комнатах,  Мебель на кухне,  Стираль...
28    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
29    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
30    [Мебель на кухне,  Ванна,  Душевая кабина,  Ст...
31    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
32    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
33    [Мебель в комнатах,  Мебель на кухне,  Стираль...
34    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
35    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
36    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
37    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
38    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
39    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
40    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
41    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
42    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
43    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
44    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
45    [Мебель в комнатах,  Мебель на кухне,  Стираль...
46    [Мебель в комнатах,  Мебель на кухне,  Стираль...
47    [Мебель в комнатах,  Мебель на кухне,  Стираль...
48    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
49    [Мебель в комнатах,  Мебель на кухне,  Ванна, ...
Name: Дополнительно, dtype: object

In [23]:
df.loc[:, 'Название ЖК'].isna().sum()

np.int64(17520)

In [24]:
df.loc[:, 'Название ЖК'].value_counts()

Название ЖК
Символ, 2019                    61
Водный, 2015                    45
Квартал на Ленинском            37
Метрополия, 2021                36
Триумф-Палас, 2006              35
                                ..
Мой адрес на Береговом, 2021     1
Мой адрес на Береговом           1
Барклай, 2015                    1
Only                             1
Фили Град, 2018                  1
Name: count, Length: 1798, dtype: int64

In [25]:
df.loc[:, 'Серия дома'].isna().sum()

np.int64(21205)

In [26]:
df.loc[:, 'Серия дома'].value_counts()

Серия дома
индивидуальный проект    615
Индивидуальный проект    139
П44                       89
П44Т                      63
монолит                   38
                        ...
I-447                      1
1973                       1
И-209А (И-209)             1
II-18-12                   1
П 44-Т                     1
Name: count, Length: 393, dtype: int64

In [27]:
df.loc[:, 'Высота потолков, м'].isna().sum()

np.int64(12162)

In [28]:
df.loc[:, 'Высота потолков, м'].value_counts()

Высота потолков, м
2.64    4467
3.00    1322
2.70    1040
2.48     676
3.20     617
        ...
3.41       1
3.24       1
3.21       1
1.20       1
3.02       1
Name: count, Length: 95, dtype: int64

In [29]:
df.loc[:, 'Высота потолков, м'].value_counts().head(50)

Высота потолков, м
2.64     4467
3.00     1322
2.70     1040
2.48      676
3.20      617
2.60      543
2.80      532
2.50      463
2.75      221
3.10      165
2.65      153
2.74      151
2.90      142
3.50       73
2.77       65
3.30       59
4.00       55
2.85       53
2.95       48
3.40       33
2.78       30
3.60       29
2.55       28
2.40       27
3.80       18
3.70       14
5.00       13
3.15       10
2.54        8
3.05        8
6.00        7
4.20        7
2.66        7
2.58        6
4.60        5
3.25        5
4.50        5
2.67        5
2.84        4
27.00       4
2.56        4
28.00       3
2.72        3
2.30        3
2.63        3
3.35        3
3.90        3
2.45        3
2.00        3
4.10        3
Name: count, dtype: int64

In [30]:
df.loc[:, 'Лифт'].isna().sum()

np.int64(5500)

In [31]:
df.loc[:, 'Лифт'].value_counts(dropna=False)

Лифт
Пасс (1)               5911
NaN                    5500
Пасс (2)               4326
Пасс (1), Груз (1)     3962
Пасс (2), Груз (1)     1224
Пасс (2), Груз (2)      654
Пасс (3)                636
Пасс (4)                346
Пасс (3), Груз (1)      187
Пасс (1), Груз (2)      185
Груз (1)                 95
Пасс (4), Груз (2)       65
Пасс (4), Груз (1)       64
Пасс (3), Груз (3)       45
Пасс (3), Груз (2)       44
Пасс (4), Груз (4)       28
Груз (4)                 25
Груз (2)                 20
Груз (3)                 15
Пасс (4), Груз (3)        7
Пасс (1), Груз (3)        6
Пасс (6)                  6
Пасс (2), Груз (3)        3
Пасс (60)                 2
Пасс (50)                 2
Пасс (1), Груз (12)       1
Пасс (5), Груз (1)        1
Пасс (8), Груз (8)        1
Пасс (7)                  1
Пасс (1), Груз (4)        1
Пасс (5), Груз (3)        1
Пасс (2), Груз (4)        1
Груз (6)                  1
Груз (8)                  1
Пасс (5)                  1
Name: count, dtype: int64

In [32]:
df.loc[:, 'Мусоропровод'].isna().sum()

np.int64(10522)

In [33]:
df.loc[:, 'Мусоропровод'].value_counts(dropna=False)

Мусоропровод
Да     10897
NaN    10522
Нет     1949
Name: count, dtype: int64

In [34]:
df.loc[:, 'Адрес'].nunique()

12850

In [35]:
df.loc[:, 'Метро'].value_counts()

Метро
м. Академическая (10 мин пешком)        41
м. Водный стадион (5 мин пешком)        40
м. Приморская (None мин пешком)         35
м. Щелковская (15 мин пешком)           34
м. Римская (None мин пешком)            33
                                        ..
м. Юго-Западная (15 мин на машине)       1
м. Боровское шоссе (4 мин на машине)     1
м. Боровское шоссе (5 мин на машине)     1
м. Говорово (2 мин пешком)               1
м. Солнцево (None мин на машине)         1
Name: count, Length: 5866, dtype: int64

In [36]:
df.loc[:, 'Парковка'].value_counts(dropna=False)

Парковка
NaN               13417
наземная           6043
подземная          2772
открытая           1017
многоуровневая      118
на крыше              1
Name: count, dtype: int64

In [37]:
df.loc[:, 'Парковка'].str.contains